<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About || page</title>
    <!-- boxicons.com icon link ... -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- publick-css / home.css link... -->
    <link rel="stylesheet" href="./publick_css/home.css">
    <style>
        .img-change{
            top: -80px;
            left: 75px;
        }
    </style>
</head>
<body>
    

<!-- header start code....... -->

<header id="header">
    <div class="container header-flex">
        <div class="header-left">
            <a href="#"><h1>alex_3.0</h1></a>
        </div>
        <div class="header-right">
            <ul>
                <li><a href="/api/v1/home">home</a></li>
                <li><a class="active" href="/api/v1/about">about</a></li>
                <li><a href="/api/v1/service">service</a></li>
                <li><a href="/api/v1/contact">contact</a></li>
            </ul>
        </div>
    </div>
</header>

<!-- body start code..... -->

<section id="background">
<div class="containerr">
    <div class="backg-flex">

        <div class="back-left">
           <div class="b-center-content">
            <h1>about us....</h1>
            <h2>backend developer</h2>
            <article>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam maxime labore quas nihil aliquid, nulla magnam voluptas! Eius assumenda voluptatem possimus?amet consectetur adipisicing elitamet consectetur adipisicing elitamet consectetur adipisicing elit !
            </article>
            <div class="b-btn">
                    <a class="btn-style active-style" href="#">hire me</a>
                    <a class="btn-style" href="#">let's taik</a>
            </div>
           </div>
           <div class="b-buttom-content">
            <div class="b-b-btn">
                <a href="#"><i class='bx bxl-meta'></i></a>
                <a href="#"><i class='bx bxl-telegram' ></i></a>
                <a href="#"><i class='bx bxl-linkedin' ></i></a>
            </div>
           </div>
        </div>


        <div class="back-right img-change">
            <figure>
                <img src="./public-img/undraw_software_engineer_re_tnjc.svg" alt="svg-img">
            </figure>
        </div>
    </div>
</div>
</section>

<!-- copy right section code start ..... -->

<div class="copy-right">
    <h1>© 2023. All rights reserved by alex_3.0</h1>
</div>

</body>
</html>